 /*--------------------------
        BASE
----------------------------*/
@import 'partials/_config.scss';
@import 'partials/_base.scss';
@import 'partials/module.scss';

/* --------------------------
        LAYOUT
----------------------------*/
// Modules will scale with document

/* --------------------------
    HEADER
----------------------------*/
// header










/*---------------------------
    FOOTER SECTION
---------------------------*/
.page-footer {
    padding: 2rem;
    position: relative;

}

/*---------------------------
    MODULES
---------------------------*/
.btn-cta {
    margin-top: 3rem;
}

.btn-contact {
    display: inline-block;
    margin: 2rem;
    background: $black;

    @include hover(background);
}


/* --------------------------
        STATES
----------------------------*/





/*---------------------------
    ANIMATION
---------------------------*/
@import 'partials/_animation.scss';

/* --------------------------
    Print
----------------------------*/
@import 'partials/_print.scss';



