 /*--------------------------
        BASE
----------------------------*/
@import 'partials/_config.scss';
@import 'partials/_base.scss';
@import 'partials/module.scss';

/* --------------------------
        LAYOUT
----------------------------*/
// Modules will scale with document


/* --------------------------
    Moduels
----------------------------*/
%img {
    width: 100%;
    background: $light-blue;
    color: $white;
    text-align: center;
    padding: 1rem;
}

.img {
    @extend %img;
}

/* --------------------------
    HEADER
----------------------------*/
.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    margin: 0;
    padding: 1rem 0;
    background: $black;

    .logo {
        @extend %img;
        height: 3rem;

        a {
            color: $white;
        }
    }
}

// navigation menu
.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    padding: 0 1rem;
}

.nav-item a {
    font-size: 1.3em;
    font-weight: 500;
    font-family: $heading-font;
    text-transform: uppercase;

    &.active:after {
        content: '';
        display: block;
        width: 100%;
        height: .2rem;
        background: $main-colour;
    }
}

.page-header-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .page-header-item {
        padding: 0 1rem;
    }

    a {
        font-weight: 500;
        font-family: $heading-font;
        text-transform: uppercase;
        color: $white;
    }

}

.profile-img {
    font-size: .7em;
    padding: .5rem;
    height: 3rem;
}

/*---------------------------
    MAIN SECTION
---------------------------*/
.main-page {
    margin-top: 8rem;

    .nav-menu {
        margin-top: .5rem;
    }
}




.ask-btn {
    width: 100%;
}

/*---------------------------
    FOOTER SECTION
---------------------------*/
.page-footer {
    padding: 2rem;
    position: relative;

}

/*---------------------------
    MODULES
---------------------------*/
.btn-cta {
    margin-top: 3rem;
}

.btn-contact {
    display: inline-block;
    margin: 2rem;
    background: $black;

    @include hover(background);
}


/* --------------------------
        STATES
----------------------------*/





/*---------------------------
    ANIMATION
---------------------------*/
@import 'partials/_animation.scss';

/* --------------------------
    Print
----------------------------*/
@import 'partials/_print.scss';



